html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
    color: red;
}
.container__item {
  margin: 0 auto 20px;
}
.landing-page-container {
  width: 630px;
  min-height: 90%;
  height: 660px;
  overflow: hidden;
  /*font-family: "Montserrat", sans-serif;*/
  color: #09383E;
}
.content__wrapper {
  width: 90%;
  height: 100%;
  margin: 20px;
  position: relative;
}
.coords {
  /*font-size: 1rem;*/
  display: inline-block;
  /*transform: rotate(-90deg) translateY(50%);*/
  /*float: left;*/
  position: relative;
  z-index: 5;
  top: 29rem;
  letter-spacing: 0.2rem;
  left: 13.9rem;
  margin: 0;
}
.coords a:hover {
  font-weight: bolder;
}
.textbloc {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  /*transform: rotate(-90deg) translateY(50%);*/
  /*float: left;*/
  position: relative;
  z-index: 5;
  top: 10rem;
  /*letter-spacing: 0.2rem;*/
  /*left: 13.9rem;*/
  margin: 0 auto 20px;
  max-width: 600px;
  line-height: 1.8;
}

.ellipses-container {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.ellipses-container .greeting {
  position: absolute;
  top: 12rem;
  left: 10.5rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 2.2rem;
  font-weight: 400;
  opacity: 0.5;
}
.ellipses-container .slogan {
  position: absolute;
  top: 15rem;
  left: 10.5rem;
  right: 0;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.25rem;
  opacity: 0.9;
}
.ellipses-container .greeting:after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0C383E;
  position: relative;
  top: -0.65rem;
  left: -15.77rem;
}
.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}
.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0);
  -webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
          animation: ellipsesOrbit 15s ease-in-out infinite;
}
.ellipses__outer--thin:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.15;
}
.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #09383E transparent transparent ;
  border-width: 3px;
  transform: rotate(-45deg);
  -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
          animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #09383E;
  top: 5rem;
  right: 6.75rem;
}
.ellipses__orbit:before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #09383E;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@-webkit-keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@-webkit-keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar {
  width: 700px;
}
.navbar .menu-items {
  display: flex;
}
.navbar .nav-container li {
  list-style: none;
}
.navbar .nav-container a {
  /*font-family: "Montserrat";*/
  text-decoration: none;
  color: #09383E;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.7rem;
}
.navbar .nav-container a:hover {
  font-weight: bolder;
}
.nav-container {
  display: block;
  position: relative;
  height: 60px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 26px;
  width: 32px;
  top: 17px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0C383E;
}
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
  padding-top: 60px;
  height: 100vh;
  width: 50%;
  transform: translate(-150%);
  display: flex;
  flex-direction: line;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  /*text-align: center;*/
}
.nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
footer {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  top: 10rem;
  text-align: center;
  padding: 3px;
  background-color: rgba(9, 56, 62, 0.1);
  color: #0C383E;
}
section {
  font-size: 1.2rem;
  display: flex;
  position: relative;
  z-index: 5;
  top: 10rem;
  margin: 0 auto 20px;
  max-width: 600px;
  line-height: 1.8;
}
article {
  padding: 0 2em;
}
.caroussel {
  font-size: 1.25rem;
  display: flex;
  /*flex-direction: column;*/
  position: relative;
  z-index: 5;
  top: 10rem;
  text-align: center;
  padding: 3px;
  margin: 0 auto 20px;
  max-width: 600px;
}

.card {
  display: flex;
  height: 280px;
  width: 222px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 2rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}
/* slider*/
.slides {
  top: 10rem;
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity .2s;

  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
background: rgba(0, 0, 0, 0.8);
}


